@font-face {font-family: "Baby Blocks"; 
    src: url("./fonts/BabyBlocks.woff") format("woff"), 
         url("./fonts/BabyBlocks.ttf") format("truetype"), 
         url("./fonts/BabyBlocks.svg") format("svg"); 
} 


*{
    margin: 0;
    padding: 0;
}


.parent {
    margin: 2em 2em 2em 0;
}

.container {
    text-align: center;
    display: grid;
    grid-template-columns: 50% 50%;
}


.container img {
    margin-left: 20px;
    width: 250px;
}


.container{
    text-align: center;
    vertical-align : middle;
}

.vertical-align {
    margin: auto;
}


.title {
    text-align: center;
}
.balsamiq {
    font-size: 54px;
    font-family: 'Balsamiq Sans', cursive;
}

.museo {
    padding-top: 10px;
    font-size: 35px;
    font-family: 'MuseoModerno', cursive;
}

.version {
    font-size: 20px;
    font-family: 'Balsamiq Sans', cursive;
}

#lives {
    color: red;
}

#solution {
    margin-top: -10px;
    font-family: 'Balsamiq Sans', cursive;
}


.container2 {
    margin-top: 2em;
    text-align: center;
}


.container2 > h2 {
    margin-top: 1em;
    font-family: Baby Blocks;
    font-size: 5em;
}